In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('../input/train.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600000 entries, 0 to 599999
Data columns (total 25 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   id      600000 non-null  int64
 1   bin_0   582106 non-null  float64
 2   bin_1   581997 non-null  float64
 3   bin_2   582070 non-null  float64
 4   bin_3   581986 non-null  object
 5   bin_4   581953 non-null  object
 6   nom_0   581748 non-null  object
 7   nom_1   581844 non-null  object
 8   nom_2   581965 non-null  object
 9   nom_3   581879 non-null  object
 10  nom_4   581965 non-null  object
 11  nom_5   582222 non-null  object
 12  nom_6   581869 non-null  object
 13  nom_7   581997 non-null  object
 14  nom_8   582245 non-null  object
 15  nom_9   581927 non-null  object
 16  ord_0   581712 non-null  float64
 17  ord_1   581959 non-null  object
 18  ord_2   581925 non-null  object
 19  ord_3   582084 non-null  object
 20  ord_4   582070 non-null  object
 21  ord_5   582287 non-null  object
 22  day     582048 non-null  float64
 23  month   582012 non-null  float64
 24  target  600000 non-null  int64
dtypes: float64(6), int64(2), object(17)
memory usage: 114.4+ MB

In [9]:
df.head().T

                  0            1          2          3            4
id                0            1          2          3            4
bin_0           0.0          1.0        0.0        NaN          0.0
bin_1           0.0          1.0        1.0        0.0          NaN
bin_2           0.0          0.0        0.0        0.0          0.0
bin_3             F            F          F          F            T
bin_4             N            Y          N          N            N
nom_0           Red          Red        Red        Red          Red
nom_1     Trapezoid         Star        NaN     Circle     Triangle
nom_2       Hamster      Axolotl    Hamster    Hamster      Hamster
nom_3        Russia          NaN     Canada    Finland   Costa Rica
nom_4       Bassoon     Theremin    Bassoon   Theremin          NaN
nom_5     de4c57ee2    2bb3c3e5c  b574c9841  673bdf1f6    777d1ac2c
nom_6     a64bc7ddf    3a3a936e8  708248125  23edb8da3    3a7975e46
nom_7     598080a91    1dddb8473  5ddc9a726  3a33ef960    bc9cc2a94
nom_8     0256c7a4b    52ead350c  745b909d1  bdaa56dd1          NaN
nom_9     02e7c8990    f37df64af        NaN  f9d456e57    c5361037c
ord_0           3.0          3.0        3.0        1.0          3.0
ord_1   Contributor  Grandmaster        NaN     Novice  Grandmaster
ord_2           Hot         Warm   Freezing   Lava Hot         Cold
ord_3             c            e          n          a            h
ord_4             U            X          P          C            C
ord_5            Pw           pE         eN        NaN           OZ
day             6.0          7.0        5.0        3.0          5.0
month           3.0          7.0        9.0        3.0         12.0
target            0            0          0          0            0

In [8]:
np.sum(df.isnull())

id            0
bin_0     17894
bin_1     18003
bin_2     17930
bin_3     18014
bin_4     18047
nom_0     18252
nom_1     18156
nom_2     18035
nom_3     18121
nom_4     18035
nom_5     17778
nom_6     18131
nom_7     18003
nom_8     17755
nom_9     18073
ord_0     18288
ord_1     18041
ord_2     18075
ord_3     17916
ord_4     17930
ord_5     17713
day       17952
month     17988
target        0
dtype: int64

In [10]:
df['target'].value_counts()

0    487677
1    112323
Name: target, dtype: int64

In [11]:
df.nunique()

id        600000
bin_0          2
bin_1          2
bin_2          2
bin_3          2
bin_4          2
nom_0          3
nom_1          6
nom_2          6
nom_3          6
nom_4          4
nom_5       1220
nom_6       1519
nom_7        222
nom_8        222
nom_9       2218
ord_0          3
ord_1          5
ord_2          6
ord_3         15
ord_4         26
ord_5        190
day            7
month         12
target         2
dtype: int64

In [12]:
df['ord_2'].unique()

array(['Hot', 'Warm', 'Freezing', 'Lava Hot', 'Cold', 'Boiling Hot', nan],
      dtype=object)

In [13]:
from sklearn.preprocessing import LabelEncoder

In [14]:
lbl_enc = LabelEncoder()

In [15]:
df.loc[:, 'ord_2'] = df.ord_2.fillna('NONE')

In [16]:
df['ord_2'].unique()

array(['Hot', 'Warm', 'Freezing', 'Lava Hot', 'Cold', 'Boiling Hot',
       'NONE'], dtype=object)

In [17]:
df.loc[:, 'ord_2'] = lbl_enc.fit_transform(df.ord_2.values)

In [18]:
df['ord_2'].unique()

array([3, 6, 2, 4, 1, 0, 5])

In [19]:
lbl_enc.classes_

array(['Boiling Hot', 'Cold', 'Freezing', 'Hot', 'Lava Hot', 'NONE',
       'Warm'], dtype=object)

In [20]:
df['ord_2'].value_counts()

2    142726
6    124239
1     97822
0     84790
3     67508
4     64840
5     18075
Name: ord_2, dtype: int64

In [21]:
df_1 = pd.read_csv('../input/cat_train_folds.csv')

In [23]:
df_1['kfold'].value_counts()

0    120000
1    120000
2    120000
3    120000
4    120000
Name: kfold, dtype: int64